<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="added" value="added value"/>
        <add key="toBeOverridden" value="overridden"/>
        <add key="toBeDeleted"  DELETEME="true"/>
    </appSettings>
    <connectionStrings>
        <add name="added" connectionString="added connection string"/>
        <add name="toBeOverridden" connectionString="overridden"/>
        <add name="toBeDeleted" DELETEME="true"/>
    </connectionStrings>
    <assemblyBinding></assemblyBinding>
    <system.runtime.caching DELETEME="true"></system.runtime.caching>
</configuration>