<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <assemblyBinding>
            <dependentAssembly>
                <assemblyIdentity name="To.Be.Overridden" />
                <bindingRedirect oldVersion="overriddenOldVersion" newVersion="overriddenNewVersion" />
            </dependentAssembly>
            <dependentAssembly DELETEME="true">
                <assemblyIdentity name="To.Be.Deleted" />
                <bindingRedirect oldVersion="overriddenOldVersion" newVersion="overriddenNewVersion" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="To.Be.Added" />
                <bindingRedirect oldVersion="overriddenOldVersion" newVersion="overriddenNewVersion" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>