<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <assemblyBinding>
            <dependentAssembly>
                <assemblyIdentity name="To.Be.Overridden" publicKeyToken="originalPublicKeyToken" />
                <bindingRedirect oldVersion="originalOldVersion" newVersion="originalNewVersion" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="To.Be.Left.Alone" publicKeyToken="originalPublicKeyToken" />
                <bindingRedirect oldVersion="originalOldVersion" newVersion="originalNewVersion" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="To.Be.Deleted" publicKeyToken="originalPublicKeyToken" />
                <bindingRedirect oldVersion="originalOldVersion" newVersion="originalNewVersion" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>