<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="toBeOverridden" value="should be overridden"/>
        <add key="toBeDeleted" value="should be deleted"/>
        <add key="toBeleftAlone" value="unchanged"/>
    </appSettings>
    <connectionStrings>
        <add name="toBeOverridden" connectionString="should be overridden"/>
        <add name="toBeDeleted" connectionString="should be deleted"/>
        <add name="toBeleftAlone" connectionString="unchanged"/>
    </connectionStrings>
    <system.runtime.caching></system.runtime.caching>
</configuration>